name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  markdown:
    name: Lint Markdown
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Lint Markdown
        uses: DavidAnson/markdownlint-cli2-action@v19
        with:
          globs: '**/*.md'

  frontend:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        node-version: [20]
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: npm install

      - name: Run lint
        run: npm run lint

      - name: Run format check
        run: npm run format:check

      - name: Run test
        run: npm run test -- --testPathIgnorePatterns='anon-block.test.ts'

      - name: Setup build environment
        run: cp .env.example .env.local

      - name: Run build
        run: npm run build
